.header
  .chat-side
    .chat-side__side-header
      .chat-side__side-header__box
        .chat-side__side-header__user-name
          = current_user.name
        .chat-side__side-header__box__menu
          =link_to edit_user_path(current_user),class: "side-header__btn" do
            = icon('fas', 'cog')
          =link_to new_group_path,class: "side-header__btn" do
            = icon('fas', 'edit')
    .chat-side-groups
      - current_user.groups.each do |group|
        .group
          = link_to groups_path(group), class: "group-name" do
            .chat-side-groups__group-name
              = group.name
            .chat-side-groups__group-message  
              メッセージはまだありません
       